<ion-content [fullscreen]="true">
  <div class="container">
    <img src="assets/logo.png" alt="Reserveat Logo" class="logo">

    <ion-searchbar placeholder="Busca tus antojos!"></ion-searchbar>

    <ion-segment value="todos" scrollable>
      <ion-segment-button value="todos"><ion-icon name="filter"></ion-icon></ion-segment-button>
      <ion-segment-button value="favoritos"><ion-icon name="star"></ion-icon></ion-segment-button>
      <ion-segment-button value="recomendados"><ion-icon name="thumbs-up"></ion-icon></ion-segment-button>
      <ion-segment-button value="mas"><ion-icon name="ellipsis-horizontal"></ion-icon></ion-segment-button>
    </ion-segment>

    <div class="scroll-horizontal">
      <ion-card *ngFor="let restaurant of featuredRestaurants" class="featured-card" (click)="verDetalle(restaurant)">
        <img [src]="restaurant.logoUrl" />
        <ion-card-header>
          <ion-card-title>{{ restaurant.name }}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>

    <div class="scroll-avatars">
  <div *ngFor="let restaurant of secondaryRestaurants" class="avatar-rectangle" (click)="verDetalle(restaurant)">
    <img [src]="restaurant.logoUrl" />
  </div>
</div>

    <ion-card *ngFor="let restaurant of verticalRestaurants" class="vertical-card" (click)="verDetalle(restaurant)">
  <img [src]="restaurant.logoUrl" class="card-image"/>
  <ion-card-content>
    <ion-card-title>{{ restaurant.name }}</ion-card-title>
  </ion-card-content>
</ion-card>


    <ion-card *ngIf="verticalRestaurants.length === 0" class="vertical-card">
      <ion-card-content>No hay más restaurantes para mostrar.</ion-card-content>
    </ion-card>
  </div>


  <!-- MENÚ INFERIOR FIJO -->
<div class="menu-inferior">
  <ion-icon name="star-outline" (click)="irAMisReviews()"></ion-icon>
  <ion-icon name="home-outline" (click)="irAHome()"></ion-icon>
  <ion-icon name="calendar-outline" (click)="irAMisReservas()"></ion-icon>
</div>

</ion-content>
