<ion-content [fullscreen]="true" scroll-y="false">

  <ion-button (click)="goBack()" color="light" class="back-button">
    <ion-icon name="arrow-back-outline" color="dark"></ion-icon>
  </ion-button>

  <div class="logo-container">
    <img [src]="reserva.restauranteLogo" alt="Logo Restaurante" class="restaurant-logo" />
  </div>

  <h3>¿Cómo fue tu experiencia?</h3>

  <div class="rating-group">
    <label>Atención:</label>
    <div class="stars">
      <ion-icon *ngFor="let star of [1,2,3,4,5]"
                name="star"
                [color]="star <= atencion ? 'warning' : 'medium'"
                (click)="setRating('atencion', star)">
      </ion-icon>
    </div>
  </div>

  <div class="rating-group">
    <label>Menú:</label>
    <div class="stars">
      <ion-icon *ngFor="let star of [1,2,3,4,5]"
                name="star"
                [color]="star <= menu ? 'warning' : 'medium'"
                (click)="setRating('menu', star)">
      </ion-icon>
    </div>
  </div>

  <div class="rating-group">
    <label>Tiempo de espera:</label>
    <div class="stars">
      <ion-icon *ngFor="let star of [1,2,3,4,5]"
                name="star"
                [color]="star <= espera ? 'warning' : 'medium'"
                (click)="setRating('espera', star)">
      </ion-icon>
    </div>
  </div>

  <ion-textarea placeholder="Review..." [(ngModel)]="comentario" maxlength="500"></ion-textarea>

  <ion-button expand="block" (click)="enviarReview()">CALIFICAR</ion-button>
</ion-content>
