<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="todos" href="/tabs/todos">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Todos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="videoJuegos" href="/tabs/videoJuegos">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Video juegos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="apps" href="/tabs/apps">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Aplicaciones móviles</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="chat-bots" href="/tabs/chat-bots">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Chatbots</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
