<ion-content [fullscreen]="true">
  <ion-button (click)="goBack()" color="light" class="back-button">
    <ion-icon name="arrow-back-outline" color="dark"></ion-icon>
  </ion-button>

  <div class="container">
    <ion-card class="restaurant-banner">
  <img [src]="restauranteLogo" class="logo-full" />
</ion-card>


<h2 class="restaurant-title">{{ restauranteNombre }}</h2>

   <ion-item>
  <ion-label position="stacked">Selecciona la fecha</ion-label>
  <ion-input
    type="date"
    [(ngModel)]="fechaSeleccionada"
    [min]="today"
    placeholder="📅 Toca aquí para abrir el calendario"
    (ionChange)="onFechaSeleccionada({ detail: { value: fechaSeleccionada } })">
  </ion-input>
</ion-item>


<ion-text color="danger" *ngIf="fechaSeleccionada && horasDisponibles.length === 0">
  Este día no está disponible para reservas.
</ion-text>


    <ion-item>
      <ion-label>Comensales</ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="disminuir()">-</ion-button>
        <span style="padding: 0 10px;">{{ comensales }}</span>
        <ion-button (click)="aumentar()">+</ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Hora</ion-label>
      <ion-select [(ngModel)]="horaSeleccionada" placeholder="Selecciona una hora">
        <ion-select-option *ngFor="let hora of horasDisponibles" [value]="hora">
          {{ hora }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="full" color="dark" (click)="confirmarReserva()">
      Confirmar reserva
    </ion-button>
  </div>
</ion-content>
